/* Colors - Wheeler Central Theme */
$wc-blue: #01568c;
$wc-orange: #ff9301;

/* Colors - Clean Baked Theme */
$cb-orange: #e55029;
$cb-yellow: #ffd97b;
$cb-red: #a60027;
$cb-plum: #660033;
$cb-blue: #191c26;
$cb-green: #8bc441;
$cb-brown: #dac0a2;

/* Colors - UI */
$cb-white: #fff;
$cb-cream: #efefef;
$cb-ghostwhite: #e8e8e8;
$cb-gray: #ccc;
$cb-gray-light: #dddcdc;
$cb-gray-dark: #929292;
$cb-black: #383838;
$cb-black-light: #424242;
$cb-black-dark: #101010;
